<link rel="stylesheet" type="text/css" href="/css/app.css">
<!--search bar -->
<div class= "searchbar">search
<label class="searchbar" for="Search by">
	 <input type='text' placeholder='Search for item' ng-model='searchBox' ng-submit="ctrl.searchForItem()">
  <!-- added a button for testing - justin
   <input type="submit" value="Search">-->
</label>
</div>
<!--Add item-->
<h3>Add Item</h3>
<form ng-submit="ctrl.createItem()">
  <input type="text" ng-model="ctrl.name" placeholder="Item Name">
  <input type="text" ng-model="ctrl.price" placeholder="Item Price">
  <input type="text" ng-model="ctrl.email" placeholder="email">
  <input type="text" ng-model="ctrl.phone" placeholder="phone">
	<input type="text" ng-model="ctrl.image" placeholder="image">
	<input type="text" ng-model="ctrl.zip" placeholder="zip">
  <input type="submit" value="Add Item"/>
</form>



<h3>Show / Delete Items</h3>
<ul>
<li ng-repeat="item in ctrl.items | filter: searchBox"> {{ item.name }}
  <button ng-click="ctrl.deleteItem(item)">X</button>
  <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editItem(item);">
    <input type="text" ng-model="ctrl.updatedName" placeholder="Item Name" />
    <input type="text" ng-model="ctrl.updatedPrice" placeholder="Item Price" />
    <input type="text" ng-model="ctrl.updatedEmail" placeholder="Email" />
    <input type="text" ng-model="ctrl.updatedPhone" placeholder="Phone" />
		<input type="text" ng-model="ctrl.updatedimage" placeholder="image" />
    <input type="text" ng-model="ctrl.updatedZip" placeholder="Zip" />
    <input type="submit" value="Update">
    </form>
  <button type="button"
          ng-if="$index !== ctrl.indexOfEditFormToShow"
          ng-click="ctrl.indexOfEditFormToShow = $index"
          name="button"
          >EDIT</button>

  <form ng-submit="ctrl.sendEmail()" ng-if="$index === ctrl.indexOfEmailFormToShow">
    <input type="text" ng-model="ctrl.sendName" placeholder="Your Name" />
    <input type="text" ng-model="ctrl.sendMessage" placeholder=" Your Message" />
    <input type="text" ng-model="ctrl.sendMail" placeholder="Your Email" />
    <input type="submit" value="Send">
  </form>
  <button type="button"
          ng-if="$index !== ctrl.indexOfEmailFormToShow"
          ng-click="ctrl.indexOfEmailFormToShow = $index"
          name="button"
          >Message</button>
</li>
</ul>

<!-- clicking on items toggles complete/ incomplete-->
<ul>
    <li
        ng-class=" (item.complete) ? 'complete' : 'incomplete' "
        ng-repeat="item in ctrl.items">
        <span ng-click="ctrl.toggleItemComplete(item);">{{ctrl.item}}</span>
    </li>
</ul>
