<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app.css">

<!--search bar -->
<div class="searchbar">
	<h3 class="sub-header">Available Items:</h3>
<label class="searchbar" for="Search by">
	 <input class="searchbox" type='text' placeholder='Search for item' ng-model='searchBox' ng-submit="ctrl.searchForItem()">
  <!--added a button for testing - justin-->
   <!-- <input type="submit" value="Search"> -->
</label>
</div>
<!--Add item-->
<!-- only show for log in user -->
<div ng-if="ctrl.loggedInUsername">
	<h3>Add Item</h3>
	<form ng-submit="ctrl.createItem()">
	  <input type="text" ng-model="ctrl.name" placeholder="Item Name" required>
	  <input type="text" ng-model="ctrl.price" placeholder="Item Price" required>
	  <input type="text" ng-model="ctrl.email" placeholder="email" required>
		<input type="text" ng-model="ctrl.image" placeholder="image" required>
		<input type="text" ng-model="ctrl.zip" placeholder="City, State" required>
		<input type="text" ng-model="ctrl.description" placeholder="description">
	  <input type="submit" value="Add Item"/>
	</form>
</div>

<br>
<div ng-repeat="item in ctrl.items | filter: searchBox" class="itemContainer">
<!-- click for show item  -->
	<img src="{{ item.image }}" ng-click="ctrl.showItem(item._id)"/>
	<h4>{{ item.name }}</h4>
	<h4>{{ item.price | currency }}</h4>
	<!-- show detail when clickek -->
	<div ng-show="ctrl.targetIndexId === item._id" class="ItemShow">
		{{ item.description }}
		<h5>{{ item.zip }}</h5>
		<button ng-click="ctrl.showItem('')">Close</button>
	</div>
	<!-- show EDIT/DELETE button only for listing user -->
		<div ng-if="ctrl.loggedInUserId === item.idForUser">
		  <button ng-click="ctrl.deleteItem(item)">X</button>
		  <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editItem(item);">
		    <input type="text" ng-model="ctrl.updatedName" placeholder="Item Name" />
		    <input type="text" ng-model="ctrl.updatedPrice" placeholder="Item Price" />
		    <input type="text" ng-model="ctrl.updatedEmail" placeholder="Email" />
		    <input type="text" ng-model="ctrl.updatedimage" placeholder="image" />
		    <input type="text" ng-model="ctrl.updatedZip" placeholder="Postal Code" />
				<input type="text" ng-model="ctrl.updatedDescription" placeholder="Description" />
		    <input type="submit" value="Update">
		    </form>
		  <button type="button"
		          ng-if="$index !== ctrl.indexOfEditFormToShow"
		          ng-click="ctrl.indexOfEditFormToShow = $index"
		          name="button"
		          >EDIT</button>
		</div>
	  <form ng-submit="ctrl.sendEmail()" ng-if="$index === ctrl.indexOfEmailFormToShow">
	    <input type="text" ng-model="ctrl.sendName" placeholder="Your Name" />
	    <input type="text" ng-model="ctrl.sendMessage" placeholder=" Your Message" />
	    <input type="text" ng-model="ctrl.sendMail" placeholder="Your Email" />
			<input type="text" ng-model="ctrl.sendTo" ng-init="ctrl.sendTo=item.email"/>
	    <input type="submit" value="Send">
	  </form>
	  <button type="button"
	          ng-if="$index !== ctrl.indexOfEmailFormToShow"
	          ng-click="ctrl.indexOfEmailFormToShow = $index"
	          name="button"
	          >Message</button>

</div>
<!-- clicking on items toggles complete/ incomplete-->
<!-- <ul>
    <li
        ng-class=" (item.complete) ? 'complete' : 'incomplete' "
        ng-repeat="item in ctrl.items">
        <span ng-click="ctrl.toggleItemComplete(item);">{{ctrl.item}}</span>
    </li>
</ul> -->
