<link rel="stylesheet" type="text/css" href="/css/app.css">
<!--search bar-->
<!-- <label class="searchbar" for="Search by">
	 <input type='text' placeholder='Search for item' ng-model='searchBox' ng-submit="ctrl.searchForItem()"> -->
  <!-- added a button for testing - justin -->
   <!-- <input type="submit" value="Search">
</label> -->
<!-- <ul> -->
  <!-- there was a capital I here, made it lowercase -justin-->
	<!-- <li ng-repeat="item in ctrl.items | filter: searchBox">{{item.name}} : {{item.zip}} : {{item.price | currency}} </li> -->
<!-- </ul> -->
