
<div ng-hide="ctrl.loggedInUsername">
  <!-- create user -->
  <form ng-if="$index === ctrl.indexOfUserFormToShow" ng-submit="ctrl.createUser()">
    <div class="signUpContainer" ng-if="$index !== ctrl.popUpSignBox">
      <button class="xButton" ng-click="ctrl.popUpSignBox = $index" >X</button><br/>
      <input type="text" ng-model="ctrl.username" placeholder="User name"/><br/>
      <input type="password" ng-model="ctrl.password" placeholder="Password"/><br/>
      <input type="submit" value="Create user"/><br/>
    </div>
  </form>
  <a href="#" ng-click="ctrl.indexOfUserFormToShow = $index">Sign Up</a> |
  <a href="#" ng-click="ctrl.indexOfLogFormToShow = $index" >Log In</a>
  <!-- log in user -->
  <form ng-if="$index === ctrl.indexOfLogFormToShow" ng-submit="ctrl.logIn()">
    <div class="signUpContainer" ng-if="$index !== ctrl.popUpLogBox">
      <button class="xButton" ng-click="ctrl.popUpLogBox = $index" >X</button><br/>
      <input type="text" ng-model="ctrl.username" placeholder="User name"/><br/>
      <input type="password" ng-model="ctrl.password" placeholder="Password"/><br/>
      <input type="submit" value="Log In"/>
    </div>
  </form>
</div>
<!-- seesion for current user  -->
<div ng-if="ctrl.loggedInUsername">
Welcome, {{ctrl.loggedInUsername}}
<form class="logoutButton" ng-submit="ctrl.logOut()">
  <input type="submit" value="Logout">
</form>
</div>
